wsProyectoCelcom/App_WebReferences/wsCelcom/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="wvSucursales">
        <s:complexType />
      </s:element>
      <s:element name="wvSucursalesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="wvSucursalesResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="wvClientes">
        <s:complexType />
      </s:element>
      <s:element name="wvClientesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="wvClientesResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="wvProveedor">
        <s:complexType />
      </s:element>
      <s:element name="wvProveedorResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="wvProveedorResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="wvProducto">
        <s:complexType />
      </s:element>
      <s:element name="wvProductoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="wvProductoResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="wvAlmacena">
        <s:complexType />
      </s:element>
      <s:element name="wvAlmacenaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="wvAlmacenaResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="wvSurte">
        <s:complexType />
      </s:element>
      <s:element name="wvSurteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="wvSurteResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="insSucursal">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sucursal" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ubicacion" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="telefono" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="paterno" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="materno" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="nombre" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="insSucursalResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="insSucursalResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="updSucursal">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="clave" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="sucursal" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ubicacion" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="telefono" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="paterno" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="materno" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="nombre" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="updSucursalResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="updSucursalResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="delSucursal">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="clave" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="delSucursalResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="delSucursalResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="insSurte">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="producto" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="proveedor" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="insSurteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="insSurteResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="updSurte">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="producto" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="proveedor" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="updSurteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="updSurteResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="delSurte">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="producto" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="proveedor" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="delSurteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="delSurteResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="insProducto">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="nombre" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="modelo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="marca" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="precio" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="insProductoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="insProductoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="updProducto">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="clave" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="nombre" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="modelo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="marca" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="precio" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="updProductoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="updProductoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="delProducto">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="clave" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="delProductoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="delProductoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="insAlmacena">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="cve_producto" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="cve_sucursal" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="stock" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="insAlmacenaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="insAlmacenaResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="updAlmacena">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="cve_producto" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="cve_sucursal" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="stock" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="updAlmacenaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="updAlmacenaResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="delAlmacena">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="cve_producto" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="cve_sucursal" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="delAlmacenaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="delAlmacenaResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="insProveedor">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="telefono" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="nombre" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="apellido_pa" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="apellido_ma" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="codigo_postal" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="calle" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="colonia" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ciudad" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="dir_numero" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="insProveedorResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="insProveedorResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="updProveedor">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="clave" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="telefono" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="nombre" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="apellido_pa" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="apellido_ma" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="codigo_postal" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="calle" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="colonia" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ciudad" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="dir_numero" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="updProveedorResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="updProveedorResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="delProveedor">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="clave" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="delProveedorResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="delProveedorResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="insCliente">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="telefono" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="correo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="nombre" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="apellido_pa" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="apellido_ma" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="codigo_postal" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="calle" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="colonia" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ciudad" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="dir_numero" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="insClienteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="insClienteResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="updCliente">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="clave" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="telefono" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="correo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="nombre" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="apellido_pa" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="apellido_ma" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="codigo_postal" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="calle" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="colonia" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ciudad" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="dir_numero" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="updClienteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="updClienteResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="delCliente">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="clave" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="delClienteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="delClienteResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="spQryProductoFiltrado">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="nombre" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="spQryProductoFiltradoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="spQryProductoFiltradoResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="wvSucursalesSoapIn">
    <wsdl:part name="parameters" element="tns:wvSucursales" />
  </wsdl:message>
  <wsdl:message name="wvSucursalesSoapOut">
    <wsdl:part name="parameters" element="tns:wvSucursalesResponse" />
  </wsdl:message>
  <wsdl:message name="wvClientesSoapIn">
    <wsdl:part name="parameters" element="tns:wvClientes" />
  </wsdl:message>
  <wsdl:message name="wvClientesSoapOut">
    <wsdl:part name="parameters" element="tns:wvClientesResponse" />
  </wsdl:message>
  <wsdl:message name="wvProveedorSoapIn">
    <wsdl:part name="parameters" element="tns:wvProveedor" />
  </wsdl:message>
  <wsdl:message name="wvProveedorSoapOut">
    <wsdl:part name="parameters" element="tns:wvProveedorResponse" />
  </wsdl:message>
  <wsdl:message name="wvProductoSoapIn">
    <wsdl:part name="parameters" element="tns:wvProducto" />
  </wsdl:message>
  <wsdl:message name="wvProductoSoapOut">
    <wsdl:part name="parameters" element="tns:wvProductoResponse" />
  </wsdl:message>
  <wsdl:message name="wvAlmacenaSoapIn">
    <wsdl:part name="parameters" element="tns:wvAlmacena" />
  </wsdl:message>
  <wsdl:message name="wvAlmacenaSoapOut">
    <wsdl:part name="parameters" element="tns:wvAlmacenaResponse" />
  </wsdl:message>
  <wsdl:message name="wvSurteSoapIn">
    <wsdl:part name="parameters" element="tns:wvSurte" />
  </wsdl:message>
  <wsdl:message name="wvSurteSoapOut">
    <wsdl:part name="parameters" element="tns:wvSurteResponse" />
  </wsdl:message>
  <wsdl:message name="insSucursalSoapIn">
    <wsdl:part name="parameters" element="tns:insSucursal" />
  </wsdl:message>
  <wsdl:message name="insSucursalSoapOut">
    <wsdl:part name="parameters" element="tns:insSucursalResponse" />
  </wsdl:message>
  <wsdl:message name="updSucursalSoapIn">
    <wsdl:part name="parameters" element="tns:updSucursal" />
  </wsdl:message>
  <wsdl:message name="updSucursalSoapOut">
    <wsdl:part name="parameters" element="tns:updSucursalResponse" />
  </wsdl:message>
  <wsdl:message name="delSucursalSoapIn">
    <wsdl:part name="parameters" element="tns:delSucursal" />
  </wsdl:message>
  <wsdl:message name="delSucursalSoapOut">
    <wsdl:part name="parameters" element="tns:delSucursalResponse" />
  </wsdl:message>
  <wsdl:message name="insSurteSoapIn">
    <wsdl:part name="parameters" element="tns:insSurte" />
  </wsdl:message>
  <wsdl:message name="insSurteSoapOut">
    <wsdl:part name="parameters" element="tns:insSurteResponse" />
  </wsdl:message>
  <wsdl:message name="updSurteSoapIn">
    <wsdl:part name="parameters" element="tns:updSurte" />
  </wsdl:message>
  <wsdl:message name="updSurteSoapOut">
    <wsdl:part name="parameters" element="tns:updSurteResponse" />
  </wsdl:message>
  <wsdl:message name="delSurteSoapIn">
    <wsdl:part name="parameters" element="tns:delSurte" />
  </wsdl:message>
  <wsdl:message name="delSurteSoapOut">
    <wsdl:part name="parameters" element="tns:delSurteResponse" />
  </wsdl:message>
  <wsdl:message name="insProductoSoapIn">
    <wsdl:part name="parameters" element="tns:insProducto" />
  </wsdl:message>
  <wsdl:message name="insProductoSoapOut">
    <wsdl:part name="parameters" element="tns:insProductoResponse" />
  </wsdl:message>
  <wsdl:message name="updProductoSoapIn">
    <wsdl:part name="parameters" element="tns:updProducto" />
  </wsdl:message>
  <wsdl:message name="updProductoSoapOut">
    <wsdl:part name="parameters" element="tns:updProductoResponse" />
  </wsdl:message>
  <wsdl:message name="delProductoSoapIn">
    <wsdl:part name="parameters" element="tns:delProducto" />
  </wsdl:message>
  <wsdl:message name="delProductoSoapOut">
    <wsdl:part name="parameters" element="tns:delProductoResponse" />
  </wsdl:message>
  <wsdl:message name="insAlmacenaSoapIn">
    <wsdl:part name="parameters" element="tns:insAlmacena" />
  </wsdl:message>
  <wsdl:message name="insAlmacenaSoapOut">
    <wsdl:part name="parameters" element="tns:insAlmacenaResponse" />
  </wsdl:message>
  <wsdl:message name="updAlmacenaSoapIn">
    <wsdl:part name="parameters" element="tns:updAlmacena" />
  </wsdl:message>
  <wsdl:message name="updAlmacenaSoapOut">
    <wsdl:part name="parameters" element="tns:updAlmacenaResponse" />
  </wsdl:message>
  <wsdl:message name="delAlmacenaSoapIn">
    <wsdl:part name="parameters" element="tns:delAlmacena" />
  </wsdl:message>
  <wsdl:message name="delAlmacenaSoapOut">
    <wsdl:part name="parameters" element="tns:delAlmacenaResponse" />
  </wsdl:message>
  <wsdl:message name="insProveedorSoapIn">
    <wsdl:part name="parameters" element="tns:insProveedor" />
  </wsdl:message>
  <wsdl:message name="insProveedorSoapOut">
    <wsdl:part name="parameters" element="tns:insProveedorResponse" />
  </wsdl:message>
  <wsdl:message name="updProveedorSoapIn">
    <wsdl:part name="parameters" element="tns:updProveedor" />
  </wsdl:message>
  <wsdl:message name="updProveedorSoapOut">
    <wsdl:part name="parameters" element="tns:updProveedorResponse" />
  </wsdl:message>
  <wsdl:message name="delProveedorSoapIn">
    <wsdl:part name="parameters" element="tns:delProveedor" />
  </wsdl:message>
  <wsdl:message name="delProveedorSoapOut">
    <wsdl:part name="parameters" element="tns:delProveedorResponse" />
  </wsdl:message>
  <wsdl:message name="insClienteSoapIn">
    <wsdl:part name="parameters" element="tns:insCliente" />
  </wsdl:message>
  <wsdl:message name="insClienteSoapOut">
    <wsdl:part name="parameters" element="tns:insClienteResponse" />
  </wsdl:message>
  <wsdl:message name="updClienteSoapIn">
    <wsdl:part name="parameters" element="tns:updCliente" />
  </wsdl:message>
  <wsdl:message name="updClienteSoapOut">
    <wsdl:part name="parameters" element="tns:updClienteResponse" />
  </wsdl:message>
  <wsdl:message name="delClienteSoapIn">
    <wsdl:part name="parameters" element="tns:delCliente" />
  </wsdl:message>
  <wsdl:message name="delClienteSoapOut">
    <wsdl:part name="parameters" element="tns:delClienteResponse" />
  </wsdl:message>
  <wsdl:message name="spQryProductoFiltradoSoapIn">
    <wsdl:part name="parameters" element="tns:spQryProductoFiltrado" />
  </wsdl:message>
  <wsdl:message name="spQryProductoFiltradoSoapOut">
    <wsdl:part name="parameters" element="tns:spQryProductoFiltradoResponse" />
  </wsdl:message>
  <wsdl:portType name="ServiceSoap">
    <wsdl:operation name="wvSucursales">
      <wsdl:input message="tns:wvSucursalesSoapIn" />
      <wsdl:output message="tns:wvSucursalesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="wvClientes">
      <wsdl:input message="tns:wvClientesSoapIn" />
      <wsdl:output message="tns:wvClientesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="wvProveedor">
      <wsdl:input message="tns:wvProveedorSoapIn" />
      <wsdl:output message="tns:wvProveedorSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="wvProducto">
      <wsdl:input message="tns:wvProductoSoapIn" />
      <wsdl:output message="tns:wvProductoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="wvAlmacena">
      <wsdl:input message="tns:wvAlmacenaSoapIn" />
      <wsdl:output message="tns:wvAlmacenaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="wvSurte">
      <wsdl:input message="tns:wvSurteSoapIn" />
      <wsdl:output message="tns:wvSurteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="insSucursal">
      <wsdl:input message="tns:insSucursalSoapIn" />
      <wsdl:output message="tns:insSucursalSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="updSucursal">
      <wsdl:input message="tns:updSucursalSoapIn" />
      <wsdl:output message="tns:updSucursalSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="delSucursal">
      <wsdl:input message="tns:delSucursalSoapIn" />
      <wsdl:output message="tns:delSucursalSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="insSurte">
      <wsdl:input message="tns:insSurteSoapIn" />
      <wsdl:output message="tns:insSurteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="updSurte">
      <wsdl:input message="tns:updSurteSoapIn" />
      <wsdl:output message="tns:updSurteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="delSurte">
      <wsdl:input message="tns:delSurteSoapIn" />
      <wsdl:output message="tns:delSurteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="insProducto">
      <wsdl:input message="tns:insProductoSoapIn" />
      <wsdl:output message="tns:insProductoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="updProducto">
      <wsdl:input message="tns:updProductoSoapIn" />
      <wsdl:output message="tns:updProductoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="delProducto">
      <wsdl:input message="tns:delProductoSoapIn" />
      <wsdl:output message="tns:delProductoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="insAlmacena">
      <wsdl:input message="tns:insAlmacenaSoapIn" />
      <wsdl:output message="tns:insAlmacenaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="updAlmacena">
      <wsdl:input message="tns:updAlmacenaSoapIn" />
      <wsdl:output message="tns:updAlmacenaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="delAlmacena">
      <wsdl:input message="tns:delAlmacenaSoapIn" />
      <wsdl:output message="tns:delAlmacenaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="insProveedor">
      <wsdl:input message="tns:insProveedorSoapIn" />
      <wsdl:output message="tns:insProveedorSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="updProveedor">
      <wsdl:input message="tns:updProveedorSoapIn" />
      <wsdl:output message="tns:updProveedorSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="delProveedor">
      <wsdl:input message="tns:delProveedorSoapIn" />
      <wsdl:output message="tns:delProveedorSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="insCliente">
      <wsdl:input message="tns:insClienteSoapIn" />
      <wsdl:output message="tns:insClienteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="updCliente">
      <wsdl:input message="tns:updClienteSoapIn" />
      <wsdl:output message="tns:updClienteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="delCliente">
      <wsdl:input message="tns:delClienteSoapIn" />
      <wsdl:output message="tns:delClienteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="spQryProductoFiltrado">
      <wsdl:input message="tns:spQryProductoFiltradoSoapIn" />
      <wsdl:output message="tns:spQryProductoFiltradoSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceSoap" type="tns:ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="wvSucursales">
      <soap:operation soapAction="http://tempuri.org/wvSucursales" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="wvClientes">
      <soap:operation soapAction="http://tempuri.org/wvClientes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="wvProveedor">
      <soap:operation soapAction="http://tempuri.org/wvProveedor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="wvProducto">
      <soap:operation soapAction="http://tempuri.org/wvProducto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="wvAlmacena">
      <soap:operation soapAction="http://tempuri.org/wvAlmacena" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="wvSurte">
      <soap:operation soapAction="http://tempuri.org/wvSurte" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insSucursal">
      <soap:operation soapAction="http://tempuri.org/insSucursal" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updSucursal">
      <soap:operation soapAction="http://tempuri.org/updSucursal" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="delSucursal">
      <soap:operation soapAction="http://tempuri.org/delSucursal" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insSurte">
      <soap:operation soapAction="http://tempuri.org/insSurte" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updSurte">
      <soap:operation soapAction="http://tempuri.org/updSurte" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="delSurte">
      <soap:operation soapAction="http://tempuri.org/delSurte" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insProducto">
      <soap:operation soapAction="http://tempuri.org/insProducto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updProducto">
      <soap:operation soapAction="http://tempuri.org/updProducto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="delProducto">
      <soap:operation soapAction="http://tempuri.org/delProducto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insAlmacena">
      <soap:operation soapAction="http://tempuri.org/insAlmacena" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updAlmacena">
      <soap:operation soapAction="http://tempuri.org/updAlmacena" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="delAlmacena">
      <soap:operation soapAction="http://tempuri.org/delAlmacena" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insProveedor">
      <soap:operation soapAction="http://tempuri.org/insProveedor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updProveedor">
      <soap:operation soapAction="http://tempuri.org/updProveedor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="delProveedor">
      <soap:operation soapAction="http://tempuri.org/delProveedor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insCliente">
      <soap:operation soapAction="http://tempuri.org/insCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updCliente">
      <soap:operation soapAction="http://tempuri.org/updCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="delCliente">
      <soap:operation soapAction="http://tempuri.org/delCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="spQryProductoFiltrado">
      <soap:operation soapAction="http://tempuri.org/spQryProductoFiltrado" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceSoap12" type="tns:ServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="wvSucursales">
      <soap12:operation soapAction="http://tempuri.org/wvSucursales" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="wvClientes">
      <soap12:operation soapAction="http://tempuri.org/wvClientes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="wvProveedor">
      <soap12:operation soapAction="http://tempuri.org/wvProveedor" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="wvProducto">
      <soap12:operation soapAction="http://tempuri.org/wvProducto" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="wvAlmacena">
      <soap12:operation soapAction="http://tempuri.org/wvAlmacena" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="wvSurte">
      <soap12:operation soapAction="http://tempuri.org/wvSurte" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insSucursal">
      <soap12:operation soapAction="http://tempuri.org/insSucursal" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updSucursal">
      <soap12:operation soapAction="http://tempuri.org/updSucursal" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="delSucursal">
      <soap12:operation soapAction="http://tempuri.org/delSucursal" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insSurte">
      <soap12:operation soapAction="http://tempuri.org/insSurte" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updSurte">
      <soap12:operation soapAction="http://tempuri.org/updSurte" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="delSurte">
      <soap12:operation soapAction="http://tempuri.org/delSurte" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insProducto">
      <soap12:operation soapAction="http://tempuri.org/insProducto" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updProducto">
      <soap12:operation soapAction="http://tempuri.org/updProducto" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="delProducto">
      <soap12:operation soapAction="http://tempuri.org/delProducto" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insAlmacena">
      <soap12:operation soapAction="http://tempuri.org/insAlmacena" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updAlmacena">
      <soap12:operation soapAction="http://tempuri.org/updAlmacena" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="delAlmacena">
      <soap12:operation soapAction="http://tempuri.org/delAlmacena" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insProveedor">
      <soap12:operation soapAction="http://tempuri.org/insProveedor" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updProveedor">
      <soap12:operation soapAction="http://tempuri.org/updProveedor" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="delProveedor">
      <soap12:operation soapAction="http://tempuri.org/delProveedor" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insCliente">
      <soap12:operation soapAction="http://tempuri.org/insCliente" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updCliente">
      <soap12:operation soapAction="http://tempuri.org/updCliente" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="delCliente">
      <soap12:operation soapAction="http://tempuri.org/delCliente" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="spQryProductoFiltrado">
      <soap12:operation soapAction="http://tempuri.org/spQryProductoFiltrado" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="ServiceSoap" binding="tns:ServiceSoap">
      <soap:address location="http://localhost:36187/Service.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceSoap12" binding="tns:ServiceSoap12">
      <soap12:address location="http://localhost:36187/Service.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>